<div class="col-xs-12">
    <div class="card">
        <div class="card-body" ng-controller="WardController as showCase">
            <button type="button" class="btn btn-primary" ng-click="goToAdd()">Add new ward</button>
            <table datatable="ng" class="datatable table table-striped primary dataTable no-footer" cellspacing="0" width="100%" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                <thead>
                <tr role="row">
                    <th tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 142px;">ID</th>
                    <th tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 223px;">Ward Name</th>
                    <th tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 223px;">Bed Count</th>
                    <th tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 105px;">Ward Description</th>
                    <!--<th tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 105px;">Ward Description</th>-->
                </thead>
                <tbody>
                <tr role="row" ng-repeat="ward in showCase.wards">
                    <td>{{ ward.id }}</td>
                    <td>{{ ward.name }}</td>
                    <td>{{ ward.bedCount }}</td>
                    <td>{{ ward.description }}</td>
                    <!--<td>{{ ward.description }}</td>-->
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>