<div class="col-lg-3 col-sm-6" ng-repeat="ward in wards" style="padding-bottom:5px">
    <div class="card">
        <div class="content">
            <div class="row">
                <div class="col-xs-5">
                    <div class="icon-big icon-warning text-center">
                        <i class="fa fa-bed"></i>
                    </div>
                </div>
                <div class="col-xs-7">
                    <div class="numbers">
                        <p>Beds available</p>
                        <a ng-click="goToAssignPatient(ward.id)">{{ (ward.beds | filter:completedFilter).length}}</a>
                    </div>
                </div>
            </div>
            <div class="footer">
                <hr>
                <div class="stats">
                    <i class="ti-reload"></i> {{ward.name}}
                </div>
            </div>
        </div>
    </div>
</div>
