<div class="col-xs-12">
    <div class="row" style="margin-top:1%;">
        <div class="col-xs-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-xs-10">
                          Laboratory Test Types
                        </div>
                        <div class="col-xs-2">
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addNewTestModal">
                                    Add New Test Type
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <table datatable="ng" class="datatable table table-striped primary dataTable no-footer" cellspacing="0" width="100%" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width:100%;">
                        <thead>
                        <tr role="row">
                            <th tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 142px;">ID</th>
                            <th tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 142px;">Test Name</th>
                            <th tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 223px;">Option</th>

                        </thead>
                        <tbody>
                        <tr role="row" ng-repeat="lab in labTestTypes">
                            <td  data-toggle="modal" data-target="#testInfo">{{ lab.testTypeId }}</td>
                            <td  data-toggle="modal" data-target="#testInfo">{{ lab.testType }}</td>
                            <td>

                                <button type="button" class="btn btn-danger" data-target="" ng-click="deleteLabType(lab._id)"><i class="fa fa-trash" aria-hidden="true"></i></button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addNewTestModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" style="display: block; margin-left: -15%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Lab Test Types</h4>
            </div>
            <div class="modal-body">
                <form class="form form-horizontal ng-pristine ng-valid" name="labTestType">
                    <div class="form-group">
                        <div class="col-xs-12">
                            <div class="input-group  has-warning">
                                <span class="input-group-addon">Lab Test Name &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>
                                <input type="text" class="form-control" id="testType" placeholder="Lab Test Type" ng-model="labType.testType" required></input>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
                <button type="button" ng-click="addLabTestType(labType)" data-dismiss="modal" class="btn btn-sm btn-success" ng-disabled="labTestType.$invalid">Add Test Type</button>
            </div>
        </div>
    </div>
</div>
