<div class="col-md-12">
  <div class="card" ng-controller="patientController">
    <div class="card-header">
      Ward Registration Form
    </div>
    <div class="card-body">
      <form class="form form-horizontal" name="patientForm" novalidate>
        <div class="section">
          <div class="section-title">Patient Details</div>
          <div class="section-body">
            <div class="form-group">
              <label class="col-md-3 control-label">Patient Name</label>
              <div class="col-md-9">
                <input type="text" class="form-control" name="pname" placeholder="" ng-model="patient.name" ng-required="true">
                 <span class="help-block" ng-show="patientForm.pname.$dirty && (patientForm.pname.$invalid || patientForm.pname.$error.required)">Please enter name </span>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label">Age</label>
              <div class="col-md-9">
                <input type="number" class="form-control" name="page" placeholder="" ng-model="patient.age" min="1" max="110" ng-required="true">
                <span class="help-block" ng-show="patientForm.page.$dirty && (patientForm.page.$invalid || patientForm.page.$error.required)">Please enter valid age </span>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label">Gender</label>
              <div class="col-md-9">
                <div class="radio radio-inline">
                  <input type="radio" name="radio4" id="radio10" value="male" ng-model="patient.gender" ng-required="true">   
                  <label for="radio10">
                Male
              </label>
                </div>
                <div class="radio radio-inline">
                  <input type="radio" name="radio4" id="radio11" value="female" checked ng-model="patient.gender" ng-required="true">
                  <label for="radio11">
                Female
              </label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label">Admit Date</label>
              <div class="col-md-9">
                <input type="date" class="form-control" name="padmitdate" placeholder="" ng-model="patient.admitDate" ng-required="true">
                <span class="help-block" ng-show="patientForm.padmitdate.$dirty && (patientForm.padmitdate.$invalid || patientForm.padmitdate.$error.required)">Enter admit date</span>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label">Patient Phone Number</label>
              <div class="col-md-9">
                <input type="number" class="form-control" name="pnumber" placeholder="" ng-model="patient.phoneNumber" ng-minlength="10" ng-maxlength="10">
                <span class="help-block" ng-show="patientForm.pnumber.$dirty && (patientForm.pnumber.$invalid || patientForm.pnumber.$error.required)">Enter valid phone Number</span>
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-3">
                <label class="control-label">Allergies</label>
                <p class="control-label-help">( description )</p>
              </div>
              <div class="col-md-9">
                <textarea class="form-control" name="allergies" ng-model="patient.allergies" ng-required="true"></textarea>
                <span class="help-block" ng-show="patientForm.allergies.$dirty && (patientForm.allergies.$invalid || patientForm.allergies.$error.required)">Enter allergies</span>
              </div>
            </div>
          </div>
        </div>
        <div class="section">
          <div class="section-title">Guardian Details</div>
          <div class="section-body">
            <div class="form-group">
              <label class="col-md-3 control-label">Guardian Name</label>
              <div class="col-md-9">
                <input type="text" class="form-control" name="gname" placeholder="" ng-model="patient.gName" ng-required="true">
                 <span class="help-block" ng-show="patientForm.gname.$dirty && patientForm.gname.$invalid">Enter gurdian name</span>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label">Emergency Contact Number</label>
              <div class="col-md-9">
                <input type="number" class="form-control" name="gphoneno" placeholder="" ng-model="patient.gContactNumber" ng-minlength="10" ng-maxlength="10" ng-required="true">
                 <span class="help-block" ng-show="patientForm.gphoneno.$dirty && (patientForm.gphoneno.$invalid)">Enter valid phoneNo</span>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label">Relationship to Patient</label>
              <div class="col-md-9">
                <input type="text" class="form-control" name="grelationship" placeholder="" ng-model="patient.gRelationship"> 
                 <span class="help-block" ng-show="patientForm.gphoneno.$dirty && patientForm.gphoneno.$invalid"></span>
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-3">
                <label class="control-label">Address</label>
              </div>
              <div class="col-md-9">
                <textarea class="form-control" name="gaddress" ng-model="patient.gAddress"></textarea>
                <span class="help-block" ng-show="patientForm.gaddress.$dirty && patientForm.gaddress.$invalid"></span>
              </div>
            </div>
          </div>
        </div>
        <div class="form-footer">
          <div class="form-group">
            <div class="col-md-9 col-md-offset-3">
              <button type="button" class="btn btn-primary" ng-click="addPatient(patient)" ng-disabled="patientForm.$invalid">Save</button>
              <button type="button" class="btn btn-default">Cancel</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>