<div class="col-xs-12">
    <div class="card">
        <script type="text/ng-template" id="templateUpdate">
            <div class="ngdialog-message">
                <h3>Manage Patient Details</h3>
                <form>
                    <div>
                        <label class="col-md-1 control-label">Patient</label>
                        <input type="text" class="form-control" value="{{selectedPatient.name}}"  ng-model="selectedPatient.name"/><br>
                    </div>
                    <div>
                        <label class="col-md-1 control-label">Age</label>
                        <input type="text" class="form-control" value="{{selectedPatient.age}}" ng-model="selectedPatient.age"/><br>
                    </div>
                    <div>
                        <label class="col-md-1 control-label">Gender</label>
                        <input type="text" class="form-control" value="{{selectedPatient.gender}}"ng-model="selectedPatient.gender"/><br>
                    </div>
                    <div>
                        <label class="col-md-1 control-label">PhoneNo</label>
                        <input type="text" class="form-control" value="{{selectedPatient.phoneNumber}}" ng-model="selectedPatient.phoneNumber"/><br>
                    </div>
                    <div>
                        <label class="col-md-1 control-label">Allergies</label>
                        <input type="text" class="form-control" value="{{selectedPatient.allergies}}" ng-model="selectedPatient.allergies"/><br>
                    </div>
                    <div>
                        <label class="col-md-1 control-label">GName</label>
                        <input type="text" class="form-control" value="{{selectedPatient.gName}}" ng-model="selectedPatient.gName"/><br>
                    </div>
                    <div>
                        <label class="col-md-1 control-label">GContactNumber</label>
                        <input type="text" class="form-control" value="{{selectedPatient.gContactNumber}}" ng-model="selectedPatient.gContactNumber"/><br>
                    </div>
                    <div>
                        <label class="col-md-1 control-label">GRelationship</label>
                        <input type="text" class="form-control" value="{{selectedPatient.gRelationship}}" ng-model="selectedPatient.gRelationship"/><br>
                    </div>
                    <div>
                        <label class="col-md-1 control-label">GAddress</label>
                        <input type="text" class="form-control" value="{{selectedPatient.gAddress}}" ng-model="selectedPatient.gAddress"/><br>
                    </div>
            </div>
            <div class="ngdialog-buttons">
                <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="updatePatient(selectedPatient.pid,selectedPatient)">Confirm</button>
                <button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click="closeThisDialog('button')">Cancel</button>
            </div>
            </form>
        </script>

        <div class="card-body" ng-controller="patientController as showCase">

            <button type="button" class="btn btn-primary" ng-click="navigatePatientRegi()">Add new Patient</button>
            <table datatable="ng" class="datatable table table-striped primary dataTable no-footer" cellspacing="0" width="100%" id="DataTables_Table_0"
                role="grid" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                <thead>
                    <tr role="row">
                        <th tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 100px;">ID</th>
                        <th tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 100px;">Patient Name</th>
                        <th tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 100px;">Gender</th>
                        <th tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 100px;">Age</th>
                        <th tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 100px;">Allergies</th>
                        <th tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 300px;">Status</th>
                        <th tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 300px;">Update</th>
                        <th tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 300px;">Discharge</th>
                    </tr>
                </thead>
                <tbody>
                    <tr role="row" ng-repeat="patient in showCase.patients">
                        <td>{{ patient.pid }}</td>
                        <td>{{ patient.name }}</td>
                        <td>{{ patient.gender }}</td>
                        <td>{{ patient.age }}</td>
                        <td>{{ patient.allergies }}</td>
                        <td>{{ patient.status }}</td>
                        <td><button type="button" class="btn btn-success" ng-click="clickToOpen(patient)">Edit</button></td>
                        <td><button type="button" class="btn btn-danger" ng-click="dischargePatient(patient.pid)">Discharge</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>