<div class="col-xs-12">
    <div class="card">
        <script type="text/ng-template" id="templateUpdate">
            <div class="ngdialog-message">
                <h3>Manage Patient Details</h3>
                <form name="patientForm" novalidate>
                    <div>
                        <label class="col-md-1 control-label">Patient</label>
                        <input type="text" class="form-control" name="pname" value="{{selectedPatient.name}}"  ng-model="selectedPatient.name" ng-required="true"/>
                        <span class="help-block" ng-show="patientForm.pname.$dirty && (patientForm.pname.$invalid || patientForm.pname.$error.required)">Please enter name </span>
                    </div>
                    <div>
                        <label class="col-md-1 control-label">Age</label>
                        <input type="number" class="form-control" value="{{selectedPatient.age}}" name="page" ng-model="selectedPatient.age" min="1" max="110" ng-required="true"/>
                        <span class="help-block" ng-show="patientForm.page.$dirty && (patientForm.page.$invalid || patientForm.page.$error.required)">Please enter valid age </span>
                    </div>
                    <div>
                        <label class="col-md-1 control-label">Gender</label>
                        <input type="text" class="form-control" value="{{selectedPatient.gender}}"ng-model="selectedPatient.gender"/><br>
                    </div>
                    <div>
                        <label class="col-md-1 control-label">PhoneNo</label>
                        <input type="number" class="form-control" name="pnumber" value="{{selectedPatient.phoneNumber}}" ng-model="selectedPatient.phoneNumber" ng-minlength="10" ng-maxlength="10"/>
                        <span class="help-block" ng-show="patientForm.pnumber.$dirty && (patientForm.pnumber.$invalid || patientForm.pnumber.$error.required)">Enter valid phone Number</span>
                    </div>
                    <div>
                        <label class="col-md-1 control-label">Allergies</label>
                        <input type="text" class="form-control" name="allergies" value="{{selectedPatient.allergies}}" ng-model="selectedPatient.allergies" ng-required="true"/>
                        <span class="help-block" ng-show="patientForm.allergies.$dirty && (patientForm.allergies.$invalid || patientForm.allergies.$error.required)">Enter allergies</span>
                    </div>
                    <div>
                        <label class="col-md-1 control-label">GName</label>
                        <input type="text" class="form-control" name="gname" value="{{selectedPatient.gName}}" ng-model="selectedPatient.gName" ng-required="true"/>
                        <span class="help-block" ng-show="patientForm.gname.$dirty && patientForm.gname.$invalid">Enter gurdian name</span>
                    </div>
                    <div>
                        <label class="col-md-1 control-label">GContactNumber</label>
                        <input type="number" class="form-control" name="gphoneno" value="{{selectedPatient.gContactNumber}}" ng-model="selectedPatient.gContactNumber"/>
                        <span class="help-block" ng-show="patientForm.gphoneno.$dirty && (patientForm.gphoneno.$invalid)">Enter valid phoneNo</span>
                    </div>
                    <div>
                        <label class="col-md-1 control-label">GRelationship</label>
                        <input type="text" class="form-control" name="grelationship" value="{{selectedPatient.gRelationship}}" ng-model="selectedPatient.gRelationship"/>
                        <span class="help-block" ng-show="patientForm.grelationship.$dirty && patientForm.grelationship.$invalid"></span>
                    </div>
                    <div>
                        <label class="col-md-1 control-label">GAddress</label>
                        <input type="text" class="form-control" name="gaddress" value="{{selectedPatient.gAddress}}" ng-model="selectedPatient.gAddress"/>
                        <span class="help-block" ng-show="patientForm.gaddress.$dirty && patientForm.gaddress.$invalid"></span>
                    </div>
            </div>
            <div class="ngdialog-buttons">
                <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="updatePatient(selectedPatient.pid,selectedPatient)" ng-disabled="patientForm.$invalid">Confirm</button>
                <button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click="closeThisDialog('button')">Cancel</button>
            </div>
            </form>
        </script>

        <div class="card-body" ng-controller="patientController as showCase">

            <a ng-href="/#!/patient"><button type="button" class="btn btn-primary" ng-click="">Add new Patient</button></a>
            <table datatable="ng" class="datatable table table-striped primary dataTable no-footer" cellspacing="0" width="100%" id="DataTables_Table_0"
                role="grid" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                <thead>
                    <tr role="row">
                        <th tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 100px;">ID</th>
                        <th tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 100px;">Patient Name</th>
                        <th tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 100px;">Gender</th>
                        <th tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 100px;">Age</th>
                        <th tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 100px;">Allergies</th>
                        <th tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 300px;">Status</th>
                        <th tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 300px;">Options</th>
                        <th tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 300px;">BHT</th>
                    </tr>
                </thead>
                <tbody>
                    <tr role="row" ng-repeat="patient in showCase.patients">
                        <td>{{ patient.pid }}</td>
                        <td>{{ patient.name }}</td>
                        <td>{{ patient.gender }}</td>
                        <td>{{ patient.age }}</td>
                        <td>{{ patient.allergies }}</td>
                        <td>{{ patient.status }}</td>
                        <td><button type="button" class="btn btn-success btn-block" ng-click="clickToOpen(patient)">Edit Patient</button>
                        <button type="button" class="btn btn-danger btn-block" ng-click="dischargePatient(patient.pid)">Discharge</button></td>
                        <td> <a ng-href="/#!/bht/{{patient._id}}"><button type="button" class="btn btn-info" ng-click="">View</button></a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>