<div class="row" style="margin-top:4%;">
    <div class="col-md-12">
        <div class="row">
            <div class="col-xs-7">
                <div class="card">
                    <div class="card-header">
                        Patient Laboratory Test Information
                    </div>
                    <div class="card-body" ng-controller="laboratoryTestCtrl as showCase">
                        <table datatable="ng" class="datatable table table-striped primary dataTable no-footer" cellspacing="0" width="100%" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width:100%;">
                            <thead>
                            <tr role="row">
                                <th tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 142px;">ID</th>
                                <th tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 223px;">First Name</th>
                                <th tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 105px;">Last Name</th>
                            </thead>
                            <tbody>
                            <tr role="row" ng-repeat="person in showCase.persons">
                                <td>{{ person.id }}</td>
                                <td>{{ person.firstName }}</td>
                                <td>{{ person.lastName }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-xs-5">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="alert alert-default alert-dismissible fade in" role="alert">
                            <button type="button" class="close" data-dismiss="alert"></button>
                            <h4>Schedule Laboratory Tests!</h4>
                            <p>Schedule Patient Laboratory Tests, Lab Test Availability is listed below! </p>
                            <p>
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                                    Schedule Patient Lab Test
                                </button>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="card">
                            <div class="card-header">
                                Laboratory Test Availability
                            </div>
                            <div class="card-body no-padding">
                                <div class="table-responsive">
                                    <table class="table card-table">
                                        <thead>
                                        <tr>
                                            <th>Laboratory Test</th>
                                            <th>Status</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>Blood Test</td>
                                            <td><span class="badge badge-success badge-icon"><i class="fa fa-check" aria-hidden="true"></i><span>Available</span></span></td>
                                        </tr>
                                        <tr>
                                            <td>Diabetic Test</td>
                                            <td><span class="badge badge-success badge-icon"><i class="fa fa-check" aria-hidden="true"></i><span>Complete</span></span></td>
                                        </tr>
                                        <tr>
                                            <td>Glucose Test</td>
                                            <td><span class="badge badge-danger badge-icon"><i class="fa fa-times" aria-hidden="true"></i><span>Not Available</span></span></td>
                                        </tr>
                                        <tr>
                                            <td>Cholesterol Test</td>
                                            <td><span class="badge badge-warning badge-icon"><i class="fa fa-times" aria-hidden="true"></i><span>Currently not Available</span></span></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" style="display: block; width: 760px; margin-left: -380px; margin-top: 100px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Lab Request</h4>
            </div>
            <div class="modal-body">
                <form class="form form-horizontal ng-pristine ng-valid">
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="input-group">
                                <span class="input-group-addon">Test Name&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>
                                <select class="form-control" id="exampleSelect1">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="input-group">
                                <span class="input-group-addon">Patient ID&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>
                                <input type="text" class="form-control" aria-label="Patient Name" placeholder="Patient ID">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="input-group">
                                <span class="input-group-addon">Priority&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>
                                <select class="form-control" id="exampleSelect322">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="input-group">
                                <span class="input-group-addon">Due date&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>
                                <input type="text" class="form-control" aria-label="Patient Name" placeholder="Due date">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="input-group  has-warning">
                                <span class="input-group-addon">Comments&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>
                                <textarea class="form-control" id="exampleTextarea" rows="3" placeholder="Comments"></textarea>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-sm btn-success">Schedule Test</button>
            </div>
        </div>
    </div>
</div>

