<div class="col-md-12">
    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">BHT Options
        <span class="caret"></span></button>
        <ul class="dropdown-menu">
            <li><a ng-href="/#!/addLabTest/{{patient._id}}">Request Lab Test</a></li>
            <li><a ng-href="/#!/viewLabRequests/{{patient._id}}">View Lab Requests</a></li>
            <li><a ng-href="/#!/theatreList/{{patient._id}}">Operation Theatre </a></li>
            <li><a ng-href="/#!/prescription/{{patient._id}}">Prescriptions</a></li>
            <li><a ng-href="/#!/diet/{{patient._id}}">Diets </a></li>
            <li><a ng-href="/#!/feverChart">Fever Chart </a></li>
            <li><a ng-href="/#!/diabeticChart">Diabetic Chart </a></li>
            <li><a ng-href="/#!/lbChart">Liquid Balance Chart</a></li>
            
        </ul>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body app-heading">
                    <div class="icon">
                        <i class="fa fa-user-circle fa-5x" aria-hidden="true"></i>
                    </div>
                    <div class="app-title">
                        <div class="row">
                            <div class="col-lg-4 col-lg-offset-1">
                                <div class="title"><span class="highlight">{{patient.name}}</span></div>
                            </div>
                            <div class="col-lg-3 col-lg-offset-0">
                                <div class="title"><span class="highlight">Patient ID : </span><span class="highlight">{{patient.pid}}</span></div>
                            </div>
                            <div class="col-lg-4 col-lg-offset-0">
                                <div class="title"><span class="highlight">BHT No : </span><span class="highlight">{{patient.bht}}</span></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-lg-offset-1">
                                <div class="description">{{patient.name}} / {{patient.gender}} / {{patient.age}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" style="margin-top:20px;">
            <div class="card">
                <div class="card-header">
                    Patient Information
                </div>
                <div class="card-body">
                    <div role="tabpanel">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a data-target="#home" aria-controls="home" role="tab" data-toggle="tab" aria-expanded="true">Patient Details</a></li>
                            <li role="presentation" class=""><a data-target="#profile" aria-controls="profile" role="tab" data-toggle="tab" aria-expanded="false">Initial Admission Details</a></li>
                            <li role="presentation" class=""><a data-target="#messages" aria-controls="messages" role="tab" data-toggle="tab" aria-expanded="false">Patient Details Print</a></li>
                        </ul>
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="home">
                                <div class ="row">
                                    <div class="col-md-12">
                                        <div class="pricing-table no-border">
                                            <div class="pricing-heading">
                                                <i class="fa fa-user" aria-hidden="true"></i> <span class="medium">Patient ID :</span>
                                                <div class="title">{{patient.pid}}</div>
                                            </div>
                                            <div class="pricing-body">
                                                <div class ="row">
                                                    <div class="col-md-4">
                                                        <ul class="description">
                                                            <li><div class="description text-left">Patient ID : <span class="medium">{{patient.pid}} </span></div></li>
                                                            <li><div class="description text-left">Gender : <span class="medium">{{patient.gender}} </span></div></li>
                                                            <li><div class="description text-left">Telephone : <span class="medium">{{patient.phoneNumber}}</span></div></li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <ul class="description">
                                                            <li><div class="description text-left">Full Name : <span class="highlight">{{patient.name}}</span></div></li>
                                                            <li><div class="description text-left">Age : <span class="medium">{{patient.age}} </span></div></li>
                                                            <li><div class="description text-left">Contact Person Name : <span class="medium">{{patient.gName}} </span></div></li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <ul class="description">
                                                            <li><div class="description text-left">Contact Person Relationship :<span class="medium"> {{patient.gRelationship}}</span></div></li>
                                                            <li><div class="description text-left">Address :<span class="medium">{{patient.gAddress}} </span></div></li>
                                                            <li><div class="description text-left">Contact Person Number :<span class="medium">{{patient.gContactNumber}}</span></div></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="pricing-footer">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="profile">
                                <div class ="row">
                                    <div class="col-md-12">
                                        <div class="pricing-table no-border">
                                            <div class="pricing-heading">
                                                <div class ="row">
                                                    <div class="col-md-12">
                                                        <i class="fa fa-address-card" aria-hidden="true"></i> <span class="medium">BHT No.</span>
                                                        <div class="title">{{patient.bht}}</div>
                                                    </div>
                    
                                                </div>
                                            </div>
                                            <div class="pricing-body">
                                                <div class ="row">
                                                    <div class="col-md-2 col-md-offset-4">
                                                        <ul class="description">
                                                            <!--<li><div class="description text-left">Doctor : </div></li>-->
                                                            <li><div class="description text-left">Admitted Date :</div></li>
                                                            <li><div class="description text-left">Patient Complain :</div></li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <ul class="description">
                                                            <!--<li><div class="description text-left">Dr.Alfred</div></li>-->
                                                            <li><div class="description text-left">{{patient.admitDate}}</div></li>
                                                            <li><div class="description text-left">{{patient.allergies}}</div></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="pricing-footer">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="messages">
                                <div class ="row">
                                    <div class="col-md-12">
                                        <div class="pricing-table no-border">
                                            <div class="pricing-heading">
                                                <div class ="row">
                                                    <div class="col-md-12">
                                                        <i class="fa fa-address-card" aria-hidden="true"></i> <span class="medium">BHT No.</span>
                                                        <div class="title">{{patient.bht}}</div>
                                                    </div>
                                                    
                                                </div>
                                            </div>
                                            <div class="pricing-body">
                                                <div class ="row">
                                                    <div class="form-group">
                                                        <div class="col-md-6 col-md-offset-3">
                                                            <div class="input-group">
                                                                <span class="input-group-addon">Patient ID&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>
                                                                <input type="text" class="form-control" aria-label="Patient Name" value="{{patient.pid}}" placeholder="Patient ID" readonly>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="pricing-footer">
                                                <button type="button" class="btn btn-default btn-success" ng-click="downloadPDF(patient,imageData)">Show PDF</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>







